#workdone{
    background-color: rgb(255, 255, 255);
    padding: 50px 5%;
}

#workdone h1{
    font-size: 2rem;
    font-weight: bold;
}

#workdone .steps{
    display: flex;
    justify-content: center;
    padding: 50px 1%;
}

#workdone .steps .step1{
    padding: 1%;
    width: 80%;
    display: flex;
}

#workdone .steps img{
    width: 20%;
    height: 60%;
    padding: 20px;
}

#workdone .content h2{
    color: rgb(245, 107, 57);
}

#workdone .content p{
    padding-top: 10px;
    font-size: 1.1rem;
}

@media screen and (max-width: 768px){

    #workdone h1{
        font-size: 1.8rem;
        text-align: center;
    }

    #workdone .steps{
        flex-direction: column;
        padding: 30px 5%;
    }

    #workdone .steps .step1{
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    #workdone .steps img{
        width: 30%;
        height: 60%;
        padding-top: 40px;
        padding-left: 0;
    }

    #workdone .content{
        display: flex;
        flex-direction: column;
    }

    #workdone .content h2{
        font-size: 1.5rem;
    }

    #workdone .content p{
        font-size: 1rem;
    }
}

